$--font-size-base: 12px;

$--tb-bg: #fff;
$--tb-height: 60px;
$--tb-menu-color: #666;
$--sd-menu-active-color: #4d9cfe;

$--sd-bg: #36465F;
$--sd-width: 200px;
$--sd-width-fold: 80px;
$--sd-menu-bg: $--sd-bg;
$--sd-menu-color: #fff;
$--sd-menu-active-color: #4d9cfe;

$--mn-bg: #f7f9fc;

$--nav-tabs-bg: $--mn-bg;
$--nav-tabs-height: 35px;
$--nav-tabs-item-bg-default: #eee;
$--nav-tabs-item-bg-active: #fff;

$--mnc-bg: #fff;
$--btn-border-radius: 2px;

:export {
    sdMenuBg: $--sd-menu-bg;
    sdMenuColor: $--sd-menu-color;
    sdMenuActiveColor: $--sd-menu-active-color;
}
